body {
    margin: 0px;
    background-color: black;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

canvas {
    position: absolute;
    display: block;
}

#info, #footer {
    position: absolute;
    text-align: center;
    padding: 0 0 1.5vw 0;
    display: table-cell;
}

#info *, footer * {
    position: relative;
    margin: 0;
}

.background {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
}

#info p, #footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    font-size: 2.5vw;
}

#subheader {
    font-size: 1.5vw;
}

#start {
    background-color: white;
    padding: 0.75vw 3vw 0.75vw 3vw;
    bottom: 2px;
}

#footer {
    padding: 0px;
    border: 0px;
}

#textContainer {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: fit-content;
    margin: 0.75vw auto;
}

#textContainer2 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

#textContainer p {
    width: fit-content !important;
    display: inline-block;
    margin: 0;
}

#gen {
    position: relative;
    color: black;
    margin: 0;
}